

:host {
    flex: 1;
  }
  .carousel-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    border-radius: 0.5em;
  }

  .carousel:hover {
    transform: scale(1.025);
  }

  .control {
    border: none;
    background-color: black;
    outline: 0;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: black;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 100%;
    opacity: 80%;
    // opacity effect on hover
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.carousel-control-next-icon {
    color: black;
  background-color: black;
  border: none;
  outline: 0;
  // rounded corners
  border-radius: 0.5em;
  padding: 0.5em;
}
.carousel-control-prev-icon {
  color: black;
  background-color: black;
  border: none;
  outline: 0;
  // rounded corners
  border-radius: 0.5em;
  padding: 0.5em;
}
