<!-- <div class="usp-banner__constrain">
  <a href="#" class="usp-banner__usps  px_common_promotion_click">
      <span class="srt">Molotov.</span>
      <ul class="usp-banner__list">
          
              <li class="usp-banner__item" data-test="header-usp-0">
                  <strong>Gratis</strong> verzending vanaf 20,-
              </li>
          
              <li class="usp-banner__item" data-test="header-usp-1">
                  Bezorging dezelfde dag, 's avonds of in het weekend*
              </li>
          
              <li class="usp-banner__item" data-test="header-usp-2">
                  <strong>Gratis</strong> retourneren
              </li>
          
      </ul>
  </a>
   <a class="usp-banner__select" data-test="header-fluid-select" data-select-header-banner-click-type="topheader:select:acquisition" href="/nl/nl/select">
      <strong class="txt-select disable-pointer-events" data-test="select-logo">Select</strong>
<span>Ontdek nu de 4 voordelen</span>


  </a> 
</div> -->

<header>
<nav class="navbar navbar-expand-lg  clean-navbar navbar-light" style="background: #b41c0b" >
  <div class="container">
    <a class="navbar-brand logo" href=""><h1 style="color: white">Molotov Industries</h1></a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navcol-1" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Home</a></li>
        <li class="nav-item"><a class="nav-link position-relative" [routerLink]="['/', 'cart']">Winkelwagen
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{cartSize}}</span></a></li>

        @if (isLoggedIn()) {
          <li class="nav-item"><a class="nav-link" [routerLink]="['/', 'orders']">Bestellingen</a></li>
          <li class="nav-item"><a class="nav-link" (click)="logout()" [routerLink]="['/']">Uitloggen</a></li>
            }
        @else {
          <li class="nav-item"><a class="nav-link" [routerLink]="['/', 'login']">Inloggen</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/', 'register']">Registeren</a></li>
            }
      </ul>
    </div>
  </div>
</nav>
</header>

<!-- <div class="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape"/>
      </div>
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera"/>
      </div>
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits"/>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->