<br/>
<div class="container bg-light text-white">
  <h2 style="color: black;">Registreren</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="email" style="color: black;">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" required>
      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {<div class="alert alert-warning mt-2">
        Voer een geldig e-mailadres in.
      </div>}
    </div>
    <div class="form-group">
      <label for="password" style="color: black;">Wachtwoord</label>
      <input type="password" id="password" formControlName="password" class="form-control" required>
      @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {<div class="alert alert-warning mt-2">
        Het wachtwoord moet minimaal 8 karakters lang zijn, ten minste 1 hoofdletter, 1 kleine letter, 1 cijfer en 1 speciaal teken bevatten.
      </div>}
      <label for="confirmPassword" style="color: black;">Bevestig wachtwoord</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required>
      @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {<div class="alert alert-warning mt-2">
        De wachtwoorden komen niet overeen.
      </div> }
    </div>
    <div class="form-row row" style="padding-top: 5vh">
      <div class="form-group col-md-6">
        <label for="name" style="color: black;">Naam</label>
        <input type="text" id="name" formControlName="name" class="form-control" required>
      </div>
      <div class="form-group col-md-6">
        <label for="phone" style="color: black;">Telefoonnummer</label>
        <input type="text" id="phone" formControlName="phone" class="form-control" required>
      </div>
    </div>
    <div class="form-row row" >
      <div class="form-group col-md-6">
        <label for="address" style="color: black;">Adres</label>
        <input type="text" id="address" formControlName="address" class="form-control" required>
      </div>
      <div class="form-group col-md-6">
        <label for="zip" style="color: black;">Postcode</label>
        <input type="text" id="zip" formControlName="zip" class="form-control" required>
      </div>
    </div>
    <div class="form-row row" >
      <div class="form-group col-md-6">
        <label for="city" style="color: black;">Stad</label>
        <input type="text" id="city" formControlName="city" class="form-control" required>
      </div>
      <div class="form-group col-md-6">
        <label for="country" style="color: black;">Land</label>
        <input type="text" id="country"  formControlName="country" class="form-control" required>
      </div>
    </div>




    <div  class="container" style="padding-top: 1vh">
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Registreren</button>
      <a (click)="navigateToLogin()" class="btn btn-link">Inloggen</a>
    </div>
  </form>
  @if (errorMessage) {<div class="alert alert-danger mt-2">
    {{ errorMessage }}
  </div>}
</div>
